/* the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4%;
    font-family: 'Varela Round', sans-serif;
  }
  .docking {
    list-style: none;
  } 
  .header-white{
    background-color: #FDFFF0;
  }
  .header-black{
    background-color: #000;
  }
  .heading-black{
    color: #000;
  }
  .other-red{
    color: #4F0E0E;
  }
  .other-blue{
    color: #97BFB4;
  }
  .heading-white{
    color: #fff;
  }
  .dash-header{
    font-size: 2.5vw;
     margin-right: 23%;
  }
  .slog1{
    font-size: 1vw; 
    margin-left: 41%;
  }
  .pro {
    display: inline-block;
    padding-right: 132px;
  }
  .pra {
    display: inline-block;
    padding-right: 70px;
  }
  .pre {
    display: inline-block;
    padding: 0px 45px;
  }
  .tic{
    font-weight: 700;
    /* color: #5F7161; */
    color: #4A403A;
    text-decoration: none;
  }

  .sz{
    background-color: #fbf8f5;
    color: #000;
  }
  .fz{
    background-color: #1d2a35; 
    color: #fff;
    }
    .body-color-black{
      background-color: #7D9D9C;
    }
    .body-color-white{
      background-color: #EEEEEE;
    }
.icon-home{
  width: 7%;
}  
.heading{
  margin-right: auto;
 /* font-family: 'Monoton', cursive; */
 /* font-family: 'Knewave', cursive; */
  font-size: 3vw;
  /* color: black; */
  font-weight: 700;
  display: block;
} 
.all-button-red{
  background-color: #4F0E0E;
  color:#fbf8f5 ;
}
.all-button-white{
  background-color: #fbf8f5;
  color: #4F0E0E;
}
.all-button-red:hover{
  background-color: #4F0E0E;
  color:#fbf8f5 ;
}
.all-button-white:hover{
  background-color: #fbf8f5;
  color: #4F0E0E;
}
.red{
  color:#4F0E0E;
  text-decoration: none;
}
.white{
  color:#fff;
  text-decoration: none;
}
.ho:hover{
  color: #4F0E0E;
}
/* end of header iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/
/* setting lllllllllllllllllllllllllllllllllllllllllll */

.setting{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12%;
  font-family: 'Varela Round', sans-serif;
  padding-top: 2%;
}
.student{
width: 75%;
margin-left: 31%;
}
.first-param{
  margin-top: -14%; 
  font-size: 1.5vw; 
}
.set-text{
  padding-bottom: 15%;
  font-size: 5.5vw;
  font-family: 'Merienda One', cursive;
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-weight: 700;
  /* padding-right: 20%; */

}
.boy-book{
  color: #414141;
}
.checks{
  color: #395B64;
}
.full-text{
  padding-bottom: 15%;
  font-size: 5.5vw;
  font-family: 'Merienda One', cursive;
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-weight: 700;
  /* padding-right: 20%; */

}
.second-setting{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 9%;
  font-family: 'Varela Round', sans-serif;
  padding-top: 2%;
}
.third-setting{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  font-family: 'Varela Round', sans-serif;
  padding-top: 2%;
}
.second-par{
  margin-bottom: -7%;
}
.third-text{
  margin-right: auto;
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Knewave', cursive; */
  text-transform: uppercase;
  font-family: 'Merienda One', cursive;
   font-size: 3vw;
   color: #000;
   text-transform: uppercase;
   padding-left: 2%;
   font-weight: 700;
   display: block;
 }  
 .tablet{
  margin-bottom: -28%;
 }
 .app{
  font-size: 2.5vw;
 }
 .experience{
  font-size: 2vw;
 }
.dover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  font-family: 'Varela Round', sans-serif;
}
.firm{
  margin-left: 8.5%;
}
.cancel-icon{margin-bottom: -77%;
  margin-left: 7.5%;
}
.check-icon1{
  margin-bottom: -31%;
  margin-left: -8%;
}
.check-icon2{
  margin-bottom: -58%;
  margin-left: -8.5%;
}
.check-icon3{
  margin-bottom: -96%;
  margin-left: -8.5%;
}
.rotate{
transform: rotate(-12deg);
}
/* error rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.see{
  width: 65%; 
  margin-left: auto;
   margin-right: auto; 
  display: block; 
}

.rew{
  font-size: 6vw;
  margin-top: -4%;
  margin-bottom: 20%;
}




/* keep off fffffffffffffffffffffffffffffffffffffffffffffff*/
*{
  margin: 0;
  list-style: none;
  padding: 0;
  box-sizing: border-box;

}

.navbar{
  width: 100%;
  /* height: 10%; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #FDFFF0; */
  /* opacity: 90%; */
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  border-bottom: 3px solid #4F0E0E;
}
/* .nav-border{
border-bottom: 3px solid #4F0E0E;
}
.nav-border{
  border-bottom: 3px solid #4F0E0E;
  } */

.header-bw{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  padding-top: 8%;
  width: 100%;
  margin-bottom: 2%;
  color: #000;
  /* border-radius: 20px; */
}
.header-wer{
  margin-right: auto;
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Knewave', cursive; */
  /* text-transform: uppercase; */
   font-size: 3.5vw;
   color: #000;
   /* text-transform: uppercase; */
   padding-left: 2%;
   font-weight: 700;
   display: block;
 }  

.forming{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  /* letter-spacing: 10px; */
  font-size: 5vw;
}

.navbar .nav_right > ul{
  display: flex;
  align-items: center;
}

.navbar .nav_right ul li.nr_li{
  margin-left:  25px;
  cursor: pointer;
  /* color:#fff; */
  font-size: 20px;
  position: relative;
} 

/* .navbar .nav_right ul li.nr_li:hover{
color: #cefffc;
color:#5F7161;
} */


.navbar .nav_right ul li .omg{
width: 25px;
vertical-align: middle;
}
.icon{
  width:20%;
}   
 .navbar .nav_right ul li img{
  width:25px;
  vertical-align: middle;
  }
.navbar .dd_menu{
  position: absolute;
  top: 70px;
  right:-30px;
  display: flex;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  border-radius: 15px;
  display: none;
  z-index: 2;

}

.navbar .dd_menu .dd_left{
  background: rgba(0,0,0, 0.4);
  z-index: 2;
  /* background: #5F7161; */
  padding: 15px 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

}

.navbar .dd_menu .dd_left li{
  color:#fff;
}

.navbar .dd_menu .dd_right{
  padding: 15px 5px;
  background:#FEF9EF;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.navbar .dd_menu li{
  margin-bottom: 10px;
  /* color: #868686; */
  color: black;

}

.navbar .dd_menu::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 30px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
} 

.navbar .nav_right ul li.li_main.active .dd_menu{
  display: flex;
  z-index: 3;
}
.seen{
  border: 1.5px solid #4F0E0E; 
  padding: 11%; 
}
.soon{
  border: 1.5px solid #fff; 
  padding: 11%; 
}
.first-top{
  margin-top: 35%;
}
.second-top{
  margin-top: 15%;
}
.pri {
  display: inline-block;
  /* padding: 0px 20px; */
}
/* keep off */





.visi{
  visibility: hidden;
}
.link-line {text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: white;}
.link-line:hover{
color: white;
}
.hid{
  display: none;
}
.hij{
  display: flex;
}
.hig{
  display: block;
}
.second-head{
  display: none;
}
.second-bulb{
  font-size: 25px; 
}
.rap{
  width: 8%;
  /* margin-left: 2%; */
}
.lap{
  display: inline-block;
  padding-top: 10%;
  /* padding: 0% 20px; */
  font-size: 2vw;

}
.kat{
  display: none;
}
.bw{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 0px 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #000;
  /* border-radius: 20px; */
}
.profile-top{
  display: none;
}
.wer{
  margin-right: auto;
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Knewave', cursive; */
  text-transform: uppercase;
   font-size: 3vw;
   color: #000;
   text-transform: uppercase;
   padding-left: 2%;
   font-weight: 700;
   display: block;
 }  
 .clear{
  font-size: 2vw;
  color: #4F0E0E;
 }
/* footer jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj */
footer {
  width:100%;
  color: white;
  padding-top: 2%;
  /* margin-top: 20%; */
  padding-bottom: 2%;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  /* border-top-left-radius: 50px; */
  border-top-right-radius: 100px;
  /* height:600px;   Height of the footer */
  /* background: #92B4EC; */
  background-color: #4F0E0E;
/* background: #92B4EC; */
}
.insta{
  color:white;
}
.insta:hover{
  color: #fb3958;
  font-weight: 700;
  background-color: #fff;
}
.twit{
  /* color: #4F0E0E; */
  color: #fff;
}
.twit:hover{
  background-color: #fff;
  color: #0078AA;
}
.linkl{
  /* color: #4F0E0E; */
  color: #fff;
  /* background-color: #fff; */
}
.linkl:hover{
  background-color: #fff;
  color: #0078AA;
   border-radius: 3px;
  /* background-color: #fff; */
}
.git{
  color: #fff;
}
.git:hover{
  color: #000;
  background-color: #fff;
}
.copyright{
  font-size: 1.1vw;
  margin-right: 80%;
}
.ve{
  display: inline-block;
  padding: 2px 25px;
}
.pride {
  display: inline-block;
  padding-right: 130px;
}
.pic{
  font-weight: 700;
  /* color: #5F7161; */
  color: #fff;
  font-size: 1vw;
  text-decoration: none;
}
.pic:hover{
  color: #fff;
}
.pru {
  display: inline-block;
  padding: 0px 45px;
}
.wr{
  font-size: 20px;
}
.footer-heading{
  margin-right: auto;
 /* font-family: 'Monoton', cursive; */
 /* font-family: 'Knewave', cursive; */
  font-size: 3vw;
  color: black;
  font-weight: 700;
  display: block;
} 
.suggest{
  font-size: 1vw;
}
.form-group {
  /* display: -webkit-flex; */
  /* -webkit-flex-wrap: wrap; */
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 1rem;
  /* margin-right: 20%; */
  /* margin-left: 20%; */
}
.profile-group {
  /* display: -webkit-flex; */
  /* -webkit-flex-wrap: wrap; */
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 1rem;
  /* margin-right: 20%; */
  /* margin-left: 20%; */
}

.inside{
  flex: 1 1 auto;
  font-weight: 400;
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  /* font-size: 1.25rem; */
  line-height: 1.5;
  color: #495057;
  background-color: #fbf8f5;
  border: 1px solid #ced4da;
  /* border-radius: .3rem 0 0 .3rem; */
  outline: 0;
  width: 75%;
  font-family: 'Varela Round', sans-serif;
}
.profile-inside{
  flex: 1 1 auto;
  font-weight: 400;
  /* height: calc(1.5em + 1rem + 2px); */
  padding: 0rem 1rem;
  /* font-size: 1.25rem; */
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  border: 1px solid #ced4da;
  /* border-radius: .3rem 0 0 .3rem; */
  outline: 0;
  width: 75%;
  font-family: 'Varela Round', sans-serif;
}
/* login kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */



.login-form-group {
  /* display: -webkit-flex; */
  /* -webkit-flex-wrap: wrap; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-bottom: 1rem;
  /* margin-right: 20%; */
  /* margin-left: 20%; */
}

.login-inside{
  flex: 1 1 auto;
  font-weight: 400;
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  /* font-size: 1.25rem; */
  line-height: 1.5;
  color: #495057;
  background-color:#fbf8f5;
  border: 1px solid #ced4da;
  /* border-radius: .3rem 0 0 .3rem; */
  outline: 0;
  width: 75%;
}
#checklist:checked{
  background-color: #000;
}
.google-but{
  padding: 0.5rem 5.5rem;
  margin-left: 1%;
}
.lop{
  padding: 0.5rem 5rem;
  margin-left: 1%;
}

.login-user{
  padding: 1rem 10.5rem;
  margin-left: 1%;
}
.login-profile{
  margin-top: -65%;
   margin-left:60%; 
   margin-bottom: 26%; 
}
.enter-details{
  font-size: 1.5vw;;
        }
.please-sign{
   font-size:1.2vw; 
    margin-left: 5%; 
     font-family: 'Varela Round', sans-serif;
   font-weight: 500; 
     margin-top: 5%;
                }
 .save-profile{
  font-size: 1.5vw;
 }               
.sign-link{
 font-size: 1.7vw;
        }       
        .login-icon{
          margin-left: 19%;
          width: 20%; 
          /* display:block; */
           margin-right: 30%;
        }  
        .login-icon2{
          margin-left: 19%;
          width: 13%; 
          margin-bottom: 5%;
          /* display:block; */
           margin-right: 30%;
        }             
        .eye-log{
          margin-left: -9%;
         }             
  .names{
    display: none;
  }       
  .on-top{
    padding-top: 10%;
  }
/* entertainmentfffffffffffffffffffffffff */
.enter-display{
  width: 50%;
}
.vid1{
  width: 94.5%; 
  padding-bottom: 29%; 
  padding-top: 5%;
   border-top-right-radius: 150px;  
   border-top-left-radius: 150px;
    padding-left: 5%; 
  padding-right: 5;
}
.vid2{
  width: 50%; 
  padding-bottom: 2%; 
  margin-top: -30.5%;
   margin-left: -1%; 
   padding-right: 5%;
}
.img1{
  width: 50%; 
  padding-bottom: 2%;
   margin-top: -141.5%; 
   padding-left: 5%;
}
.img2{
  width: 50%;
   padding-bottom: 2%; 
   margin-top: -59%;
    padding-left: 5%; 
    border-bottom-left-radius: 150px;
}
.img3{
  width: 50%;
   padding-bottom: 2%; 
   margin-top: -3.5%;
    margin-left: -1%;
     padding-right: 5%;
      border-bottom-right-radius: 150px;
}
.img-pass{
  width: 50%;
}
/* entertainmentnnnnnnnnnnnnnnnnnnnnnnnn */
/* 895px */

/* login llllllllllllllllllllllllllllllllll */
/* dashboard ggggggggggggggggggggggggg */
.rapper{
  /* height: 100vh; */
  /* border: 0.5px solid #ddd; */
  /* background-color: #DFDFDF; */
  /* display: flex; */
  /* overflow-x: auto; */
  /* font-family: 'Varela Round', sans-serif; */
  /* margin-left: 5%; */
  /* margin-right:5%; */
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
  /* margin-bottom: 10%; */
  /* position: fixed; */
}
.phone{
  /* padding-top: 2%; */
  /* padding-right: 20%; */
  /* min-width: 10%; */
  overflow-x: auto;
  height: 100vh;
  width: 20%;
  background-color: #fff;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px;
   border-right: 3px solid #f1f1f1 ;
  /* background-color: #395B64; */
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: #ddd; */
  /* margin-right: 2%; */
  /* border-radius: 50px; */
  /* margin-bottom: 2%; */
  position: fixed;
}
.pencil{
  font-size: 2vw;
  margin-left: 56%;
  margin-top: -6%;
  padding: 1.5%;
}
.changing-button{
  font-size: 1vw;
}
.name1{
  font-size: 1.5vw;
}
.phone-story{
    display: flex;
  min-width: 10%;
  overflow-x: auto;
  /* height: 100vh; */
  /* width: 20%; */
  /* background-color: #fff; */
  /* border-bottom-right-radius: 10px;  */
  /* border-top-right-radius: 10px; */
   /* border-right: 3px solid #f1f1f1 ; */
  /* background-color: #395B64; */
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: #ddd; */
  /* margin-right: 2%; */
  /* border-radius: 50px; */
  /* margin-bottom: 2%; */
  /* position: fixed; */
}
.phone-story::-webkit-scrollbar{
  width: 0;
 }
.sec{
  min-width: 15%;
}
.ic:hover{
  color: #4F0E0E;
}
.phone2{
  /* padding-top: 2%; */
  /* padding-right: 20%; */
  /* min-width: 10%; */
  overflow-x: auto;
  height: 100vh;
  width: 8%;
  background-color: #fff;
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px;
   border-right: 3px solid #f1f1f1 ;
  /* background-color: #395B64; */
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: #ddd; */
  /* margin-right: 2%; */
  /* border-radius: 50px; */
  /* margin-bottom: 2%; */
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
}
.sec-phone{
  /* padding-top: 2%; */
  /* padding-right: 20%; */
  /* min-width: 10%; */
  height: 100vh;
  /* width: 20%; */
  background-color: #fff;
  /* border-bottom-right-radius: 10px;  */
  /* border-top-right-radius: 10px; */
  overflow-x: auto;
   /* border-right: 3px solid #f1f1f1 ; */
  /* background-color: #395B64; */
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: #ddd; */
  /* margin-right: 2%; */
  /* border-radius: 50px; */
  /* margin-bottom: 2%; */
  position: fixed;
  /* margin-top: -5%; */
  /* border-bottom-left-radius: 100%; */
}
.profile-adjustment1{
  margin-left:19.8%;
  width: 55%;
}
.profile-adjustment2{
  margin-left:7.8%;
  width: 67%;
}
.sliding{
  padding-right: 1.3%;
  font-size: 1.5vw;
  margin-left:16.5%;
}
.sliding2{
  padding-right: 1%;
  font-size: 1.5vw;
  margin-left:4.7%;
}
.third-phone{
  /* padding-top: 2%; */
  /* padding-right: 20%; */
  /* min-width: 10%; */
  height: 100vh;
  width: 20%;
  /* background-color: #fff; */
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px;
  overflow-x: auto;
   /* border-right: 3px solid #f1f1f1 ; */
  /* background-color: #395B64; */
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: #ddd; */
  /* margin-right: 2%; */
  /* border-radius: 50px; */
  /* margin-bottom: 2%; */
  /* position: fixed; */
  /* margin-top: -5%; */
  background-image: url("tree1.jpg");
}
.dash-aim{
  display: inline-block;
  padding-right: 10%;
}
.noti{
  display: inline-block;
  padding-left: 11%;
}
.bottom-noti{
  display: inline-block;
  padding-left: 3%;
}
/* dashboard ggggggggggggggggggg */
/*profile jvbhjkjjjjj*/
.details-name{
  display: inline-block;
  padding: 0 11px;
}
.user-details{
  font-size: 1.5vw;
}
.user-title{
  font-size: 1.5vw; 
}
.user-picture{
  width: 13vw;
  height: 13vw;
}
.user-nick{
  font-size: 2.5vw;
}
.notification-below{
display: none;
}
.separating-profile{
  display: none;
}
.service{
  display: none;
} 
.profile-tog{
  display: none;
}
.ontop-toggle{
  padding: 1.5%;
}
/*profile jbvbhjhffhhff*/


@media only screen and (max-width:1250px){
  .pro {
    padding-right: 90px;
}
.pra {
  padding-right: 70px;
}
.pre{
  padding: 0% 40px;
}
.save-profile{
  font-size: 2vw;
 }
}
@media only screen and (max-width:1174px){
.cancel-icon{margin-bottom: -87%;
}
.check-icon2{
  margin-bottom: -61%;
}
.check-icon3{
  margin-bottom: -109%;
}
/* .google-but{
  padding: 0.5rem 5.5rem;
} */
}
@media only screen and (max-width:1100px){
  .pru{
    padding: 0% 0px;
  }
  .pic{
    font-size: 1.2vw;
  }
  .enter-display{
  padding-top: 5%;
}
.login-profile{
  margin-top: -75%;
}
.enter-details{
  font-size: 1.8vw;;
        }
        .user-details{
          font-size: 2vw;
        } 
  }

@media only screen and (max-width:1085px){
  .pro {
    padding-right: 65px;
}
.pra {
  padding-right: 55px;
}
.pre{
  padding: 0% 35px;
}
.heading{
  font-size: 3.5vw;
}
.user-nick{
  font-size: 3vw;
}
}

@media only screen and (max-width:1040px){
.pride{
  padding-right: 90px;
}
.footer-heading{
font-size: 3.5vw;
}
.suggest{
  font-size: 1.2vw;
}
.tablet{
  margin-bottom: -27%;
 } 
}

@media only screen and (max-width:1010px){
  .pro {
    padding-right: 63px;
}
.pra {
  padding-right: 55px;
}
.pre{
  padding: 0% 30px;
}
.firm{
  margin-left: 7.5%;
}
.full-text{
  padding-bottom: 20%;
  font-size: 5.5vw;

}
/* .firm{
padding-left: 5%;
}       */
.student{
width: 100%;
margin-left: 28%;

}
.first-param{
margin-top: -24%; 
}
.google-but{
  padding: 0.5rem 4rem;
}
.lop{
  padding: 0.5rem 3.5rem;
}

.login-user{
  padding: 1rem 9.5rem;
}
.login-profile{
  margin-top: -65%;
   margin-left:60%; 
   margin-bottom: 26%; 
}

}


/* @media only screen and (max-width:935px){
  .pride{
    padding-right: 50px;
  }
  .footer-heading{
font-size: 4vw;
  }
  } */
@media only screen and (max-width:925px){
  .pro {
    padding-right: 60px;
}
.pra {
  padding-right: 45px;
}
.pre{
  padding: 0% 25px;
}
.heading{
  font-size: 4vw;
}
.suggest{
  font-size: 1.3vw;
}
.rap{
  width: 10%;
  /* margin-left: 2%; */
}
.tablet{
  margin-bottom: -26%;
 }
 header{
  padding-top: 0.7%;
}
.login-user{
  padding: 1rem 8.5rem;
}
.google-but{
  padding: 0.5rem 3rem;
}
.lop{
  padding: 0.5rem 2.5rem;
}
.enter-details{
  font-size: 1.8vw;;
        }
.third-phone{
      display: none;
   }
  .profile-adjustment1{
    margin-left:26.7%;
    width: 73%;
  }
  .profile-adjustment2{
    margin-left:10.7%;
    width: 89.5%;
  }
  .phone{
    width:27%;
  }
  .sliding{
    /* padding-right: 2.3%; */
    font-size: 2vw;
    margin-left: 23.4%;
  }
  .changing-button{
    font-size: 1.5vw;
  }
  .name1{
    font-size: 2vw;
  }
  .phone2{
    width: 11%;
  }
  .sliding2{
    /* padding-right: 2%; */
    font-size: 2vw;
    margin-left:7.6%;
  }
  .pencil{
    font-size: 3.5vw;
    margin-left: 55%;
    padding: 2.5%;
  }
  .user-picture{
    width: 20vw;
    height:20vw;
  }
  .save-profile{
    font-size: 2vw;
   } 
  .user-details{
    font-size: 2.5vw;
  } 
 .user-nick{
  font-size: 3.5vw;
 } 
.service{
  display: block;
} 
.profile-tog{
  display: block;
  font-size: 4vw;
}
.dash-header{
  font-size: 3.5vw;
   margin-right: 23%;
}
.slog1{
  font-size: 1.5vw; 
  margin-left: 32%;
}
}

@media only screen and (max-width:895px){
.enter-display{
  width: 40%;
}
.vid1{
  width: 100%; 
  padding-bottom: 29%; 
  padding-top: 5%;
   border-top-right-radius: 150px;  
   border-top-left-radius: 150px;
    padding-left: 5%; 
  padding-right: 5;
}
.vid2{
  width: 52%; 
  padding-bottom: 2%; 
  margin-top: -39.5%;
   margin-left: 50%; 
   padding-right: 1%;
   border-bottom-right-radius: 45px; 
}
.img1{
  width: 50%; 
  padding-bottom: 2%;
   margin-top: -38.5%; 
   padding-left: 5%;
}
.img2{
  width: 50%;
   padding-bottom: 2%; 
   margin-top: -69%;
    padding-left: 5%; 
    border-bottom-left-radius: 150px;
}
.img3{
  width: 56%;
   padding-bottom: 2%; 
   margin-top: -42.5%;
    margin-left: 50%;
     padding-right: 5%;
      border-bottom-right-radius: 150px;
}
.please-sign{
  font-size:1.8vw; 
        }
.sign-link{
  font-size: 2.7vw;
} 
}

@media only screen and (max-width:855px){
  .pride{
    padding-right: 70px;
  }
  .firm{
    margin-left: 6.5%;
  }
  .google-but{
    padding: 0.5rem 2.5rem;
  }
  .lop{
    padding: 0.5rem 2rem;
  }
  .login-user{
    padding: 1rem 7.5rem;
  }
  .enter-details{
    font-size: 1.8vw;;
          }
          .phone2{
            width: 15%;
          }
          .profile-adjustment2{
            margin-left:14.7%;
            width: 85.5%;
          }
          .sliding2{
            margin-left:11.6%;
          }    
  }
@media only screen and (max-width:850px){
  .pro {
    padding-right: 60px;
}
.pra {
  padding-right: 40px;
}
.pre{
  padding: 0% 15px;
}
.heading{
  font-size: 4.5vw;
    }
    .see{
      width: 80%; 
    }
    .rew{
      margin-bottom: 40%;
    }
    .img-pass{
      width: 40%;
    }
    .login-profile{
      margin-left: 55%;
    }
}
/* heightjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj */
@media only screen and (min-height:900px){
/* .rew{
  font-size: 8vw;
  margin-bottom: 60%;
} */
.error-footer{
  position: fixed;
  bottom: 0;
}
.see{
  padding-top: 20%;
}
}

@media only screen and (min-height:800px) and (max-width:320px){
  .error-footer{
    position: fixed;
    bottom: 0;
  }
}

@media only screen and (max-width:791px){
  .pride{
    padding-right: 50px;
  }
  .pic{
    font-size: 1.5vw;
  }
  .bw{
    padding-top: 2%;
          }
          .app{
            font-size: 2.5vw;
          }
          .enter-details{
            font-size: 2vw;;
                  }
}
@media only screen and (max-width:780px){
header{
  display: none;
}
  .second-head{
display: block;
  }
  .heading{
font-size: 5vw;
  }
  .first-back{
padding-top: 10%;
  }
  .see{
    padding-top: 8%;
  }
  .rotate{
  transform: inherit;
  }

}
@media only screen and (max-width:769px){
  .pride{
padding-right: 40px;
  }
  .login-user{
    padding: 1rem 6.5rem;
  }
  .vid1{
    width: 101%; 
  }
  .img1{
     margin-top: -40.5%; 
  }
  .img2{
     margin-top: -71%;
  }
  .img3{ 
     margin-top: -45.5%;
  }
  .save-profile{
    font-size: 2.5vw;
   } 
}
@media only screen and (max-width:735px){
.footer-heading{
  /* margin-top: -15%; */
  font-size: 5vw;
}
.pride{
  padding-right: 33%;
  /* padding-left: 25px; */
}
.pic{
  font-size: 1.6vw;
}
.pru{
  padding-top: 10%;
  padding-right: 30%;
}
.suggest{
  font-size: 1.7vw;
}
.ve{
padding: 0 15px;
}
.bid{
  display: none;
}
.form-group {
margin-left: -30%;
margin-right: -30%;
}
.first-back{
  padding-top: 12%;
    }
    .first-param{
      margin-top: -22%; 
      }
.welcoming{
  margin-left: 16%;
}
.login-icon{
  margin-left: 28%;
}
.login-icon2{
  margin-left: 36%;
}
.user-details{
  font-size: 3vw;
}
.user-title{
  font-size: 2vw; 
}
}
@media only screen and (max-width:700px){
.header-bw{
  padding-top: 10%;
}
.navbar{
  padding: 0 40px;
}
.pencil{
  font-size: 5vw;
  /* padding-left: 55%; */
}
.user-picture{
  width: 25vw;
  height: 25vw;
}
.user-nick{
  font-size: 4vw;
}
}

@media only screen and (max-width:670px){
.login-user{
  padding: 0.5rem 6.5rem;
}
.login-profile {
  margin-top: -70%;
}
.enter-display{
  padding-top: 9%;
}
.google-but{
  padding: 0.2rem 1.5rem;
}
.lop{
  padding: 0.2rem 1rem;
}
.save-profile{
  font-size: 3vw;
 }
 .changing-button{
  font-size: 1.7vw;
}
.ontop-toggle{
  padding: 2.5%;
}
}
@media only screen and (max-width:600px){
  .suggest{
    font-size: 2vw;
  }
  .copyright{
    font-size: 1.6vw;
    margin-right: 70%;
  }
  .firm{
    margin-left: 5.5%;
  }
  .first-back{
    padding-top: 15%;
      }
      .rap{
        width: 12%;
        /* margin-left: 2%; */
      }
.clear{
  font-size: 2.5vw;
}
.tablet{
  margin-bottom: -22%;
 }

 .vid1{
  width: 101%; 
}
.img1{
   margin-top: -44.5%; 
}
.img2{
   margin-top: -73%;
}
.img3{ 
   margin-top: -47.5%;
}
.vid2{
  margin-top: -42.5%;
}
.login-user{
  padding: 0.5rem 5.5rem;
}
/* .changing-button{
  font-size: 2vw;
 }   */
 .user-nick{
  font-size: 5vw;
}
.profile-tog{
  font-size: 5vw;
}
}
@media only screen and (max-width: 550px){
  .ve{
    padding: 0 12px;
    }
    .header-bw{
      padding-top: 12%;
    }

}
@media only screen and (max-width: 539px){
.enter-display{
 width: 35%; 
 padding-top: 18%;
}
.img1{
   margin-top: -46.5%; 
}
.img2{
   margin-top: -73%;
}
.img3{ 
   margin-top: -51.5%;
}
.vid2{
  margin-top: -45.5%;
  border-bottom-right-radius: 24px; 
}
.login-profile{
  margin-top: -75%;
  margin-left: 45%;
}
.google-but{
  padding: 0.2rem 1.5rem;
}
.google-log{
  font-size: 2.5vw;
} 
.profile-adjustment2{
  margin-left:19.5%;
  width: 80%;
}
.sliding2{
  margin-left:16.2%;
}
.phone2{
  width: 20%;
} 
.user-details{
  font-size: 3vw;
}
.changing-button{
  font-size: 2vw;
}
 .fq{
  font-size: 1.7vw;
 } 
}
@media only screen and (max-width: 500px){
.heading{
  font-size: 7vw;
}
.navbar .nav_right ul li .omg{
  width: 20px;
}
.firm{
  margin-left: 5.5%;
}  
.see{
  padding-top: 20%;
}
.rew{
  font-size: 8vw;
  margin-bottom: 60%;
}
.rap{
  width: 14%;
  /* margin-left: 2%; */
}
.header-wer{
  font-size: 4vw;
}
.check-icon1{
  margin-left: -9%;
}
.check-icon2{
  margin-left: -9%;
}
.check-icon3{
  margin-left: -9%;
}
.img1{
  margin-top: -50.5%; 
}
.img2{
  margin-top: -73%;
}
.img3{ 
  margin-top: -51.5%;
}
.vid2{
 margin-top: -47.5%;
}
.save-profile{
  font-size: 3.5vw;
 } 
}
@media only screen and (max-width: 492px){
  .ve{
    padding: 0 10px;
    }

  .pic{
      font-size: 2vw;
    }   

  .pride{
      padding-right: 30%;
      /* padding-left: 25px; */
    }  
    .wr{
      font-size: 15px;
    }
    .tablet{
      margin-bottom: -19%;
     }
     .app{
      font-size: 3vw;
     }
     .experience{
      font-size: 2.5vw;
     }
    .phone{
      display: none;
    }
    .phone2{
      display: none;
    }
    .sec-phone{
      width: 100%;
      margin-left: 0%;
    }
    .user-picture{
      width: 35vw;
      height: 35vw;
    }
    .user-nick{
      font-size: 5.5vw;
    }   
 .pencil{
  font-size: 7vw;
  margin-left: 55%;
  padding: 3.5%;
  margin-top: -6%;
 }   
 .notification-below{
  display: block;
  }
  .save-profile{
    font-size: 5.5vw;
   }
   .user-details{
    font-size: 4vw;
   } 
   .profile-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #000;
    /* border-radius: 20px; */
  }
  .separating-profile{
    display: block;
  }
  .profile-tog{
display: none;
  }
}
@media only screen and (max-width: 450px){
.see{
  padding-top: 25%;
}
.header-bw{
  padding-top: 14%;
}
.tablet{
  margin-bottom: -20%;
 }
 .login-user{
  padding: 0.5rem 4.5rem;
 }
 .eye-log{
  margin-left: -12%
 }
 .google-but{
  padding: 0.2rem 1.5rem;
 }
 .enter-details{
  font-size: 2.5vw;
 }
 .img1{
  margin-top: -56.5%; 
}
.img2{
  margin-top: -78%;
}
.img3{ 
  margin-top: -59.5%;
}
.vid2{
 margin-top: -51.5%;
}
.user-details{
  font-size: 4vw;
}
.user-title{
  font-size: 2.5vw; 
}
.save-profile{
  font-size: 6vw;
 } 
}

@media only screen and (max-width: 400px){
  .heading{
    font-size: 10vw;
  }
  .second-bulb{
margin-top: 2%;
  }
  .wr{
    font-size: 10px;
  } 
  .ve{
    padding: 0 3px;
    } 
    .copyright{
      font-size: 1.7vw;
      margin-right: 70%;
    }  
    .pic{
      font-size: 2vw;
    } 
    .pride{
      padding-right: 25%;
    }
    .suggest{
      font-size: 1.8vw;
    }
    .see{
      padding-top: 35%;
    }
    .rap{
      width: 16%;
      /* margin-left: 2%; */
    }
    .header-bw{
      padding-top: 17%;
    }
    .header-wer{
      font-size: 3.5vw;
    }
    .tablet{
      margin-bottom: -18%;
     }
     .first-back{
      padding-top: 20%;
        }
        .full-text{
          padding-bottom: 28%;
          font-size: 5vw;
          font-family: 'Merienda One', cursive;
          /* font-family: 'Abril Fatface', cursive; */
          /* font-family: 'Archivo Black', sans-serif; */
          font-weight: 700;
          /* padding-right: 20%; */
        }
        .kit{
          display: none;
        }
        .kat{
          display: block;
        }
  .firm{
    padding-left: 5%;
  }      
  .student{
    width: 106%;
    margin-left: 25%;

  }
  .first-param{
    margin-top: -28%; 
    font-size: 2vw;
  }
  .google-but{
    padding: 0.2rem 1rem;
   }
   .google-log{
    font-size: 3vw;
   }
   .user-nick{
    font-size: 6.5vw;
  }  
  .pencil{
    padding: 2.5%;
   }  

}
@media only screen and (max-width: 384px){
  .enter-display{
    display: none;
  }
  .login-profile{
    margin-top: 0%;
    margin-left: 22%;
  }
  .login-icon{
    /* display: block; */
    margin-left: 19%;
    margin-right: 25%;
    width: 30%;
  }
  .welcoming{
    margin-left: 6%;
  }
  .names{
    display: block;
  }
  .namef{
    display: none;
  }
  .enter-details{
    font-size: 3vw;
   }
   .google-but{
    padding: 0.3rem 3rem;
    margin-left: -7%;
    margin-right: 17%;
   }
   .lop{
    padding: 0.3rem 2.5rem;
    margin-left: -7%;
    margin-right: 17%;
   }
   .google-log{
    font-size: 3.1vw;
   }
   .please-sign{
    font-size:2.8vw; 
          }
    .sign-link{
       font-size: 3.7vw;
       }
  .login-inside{
    width: 83%;
    margin-left: -5%;
  }     
  .login-icon2{
    margin-left: 26%;
    width:20%;
    padding-top: 8%;
  }
  .login-user{
    margin-left: -9%;
    padding: 0.5rem 6.5rem;
  }
  .login-word{
    font-size: 5vw;
  }
.on-top{
  padding-top: 18%;
}  
/* .eye-log{
  margin-left: -9%;
} */
  }
  
@media only screen and (max-width: 350px){
  .heading{
    font-size: 12vw;
  }
  /* ve{
    padding: 0 2px;
    }  */
    .rap{
      width: 18%;
      /* margin-left: 2%; */
    }
    .header-bw{
      padding-top: 18%;
    }
    .tablet{
      margin-bottom: -16%;
     }
     .google-but{
      padding: 0.3rem 2.5rem;
      /* margin-left: -7%;
      margin-right: 21%; */
     }
     .lop{
      padding: 0.3rem 2rem;
      /* margin-left: -7%;
      margin-right: 21%; */
     }
}
@media only screen and (max-width: 320px){
.login-user{
  margin-left: -15%;
}
.google-log{
  font-size: 4.1vw;
 }
 /* .eye-log{
  margin-left: -12%;
} */
.user-nick{
  font-size: 7vw;
}  
}
@media only screen and (max-width: 290px){
  .navbar .nav_right ul li .omg{
    width: 15px;
  }
  .second-bulb{
    font-size: 20px; 
  }
  .header-bw{
    padding-top: 20%;
  }
  .tablet{
    margin-bottom: -14%;
   }
 .eye-log{
  margin-left: -16%;
 }

}
@media only screen and (max-width: 285px){
  .navbar {
padding: 0 40px;
  }
.ve{
  padding: 0 2px;
}  
.header-wer{
  font-size: 3.5vw;
}
.eye-log{
  margin-left: -16%;
 }
 .login-user{
  margin-left: -21%;
 }
 .google-log{
  font-size: 4.1vw;
 }
}