<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Econfunds</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/set.css">
    <link rel="icon" href="static/trade.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0" />
</head>
  <body>
    <img class="see" src="static/4041.jpg" alt="">
    <h1 class="rew" style="font-family: 'Varela Round', sans-serif; text-align: center;padding-top: 5%; color: #1A4D2E;">Sorry, Data Not Found!</h1>
    <form action="/return" method="post">
        <button class="btn btn-success down-below" id="rr" type="submit"><a class="link-line">Go Back</a></button>
</form>
    <footer class="bet">
        <div class= "bottom"><h5 class="copyright">Copyright © econfunds <%= fan %></h5></div>
        <ul class="social">
          <li class="ve">
              <i class=" fa fa-instagram" style="font-size:20px;color:black"></i>
          </li>
          <li class="ve">
              <i class=" fa fa-twitter-square" style="font-size:20px;color:black"></i>
          </li>
          <li class="ve">
              <i class=" fa fa-linkedin-square" style="font-size:20px;color:black"></i></a>
          </li>
          <li class="ve">
              <i class=" fa fa-github" style="font-size:20px;color:black"></i>
          </li>
      </ul>
       </footer>
</body>
</html>