.bv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
  color: #fff;
  /* border-radius: 20px; */
}
.ker{
  margin-right: auto;
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Knewave', cursive; */
  text-transform: uppercase;
   font-size: 3vw;
   color: #fff;
   text-transform: uppercase;
   padding-left: 2%;
   font-weight: 700;
   display: block;
 }  

 .cap{
  display: inline-block;
  /* padding: 0% 18px; */
  font-size: 2vw;

}








/* keep off */
*{
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
  
  }
  .je{
    background-color: white;
  }
  .ss{
    /* background-color: #413F42; */
    background-color: #282A35;
  }
  .sz{
  background-color: #EAF6F6;
  }
  .navbar{
    width: 100%;
    /* height: 10%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: white; */
    /* opacity: 90%; */
    display: flex;
    border-bottom: 3px solid #7D9D9C;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
  }
  .for-white{
    color: #fff;
  }
  .for-dark{
    color: #000;
  }
  .forming{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    /* color: black; */
    font-weight: 700;
    /* letter-spacing: 10px; */
    font-size: 5vw;
  }
  
  .navbar .nav_right > ul{
    display: flex;
    align-items: center;
  }
  
  .navbar .nav_right ul li.nr_li{
    margin-left:  25px;
    cursor: pointer;
    color:#fff;
    font-size: 20px;
    position: relative;
  } 
  
  .navbar .nav_right ul li.nr_li:hover{
  /* color: #cefffc; */
  color:#5F7161;;
  }
  
  .navbar .nav_right ul li .omg{
  width: 25px;
  vertical-align: middle;
  }
  .icon{
    width:20%;
  }
  .navbar .nav_right ul li img{
    width:25px;
    vertical-align: middle;
    }
  .navbar .dd_menu{
    position: absolute;
    top: 47px;
    right:-25px;
    display: flex;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    border-radius: 15px;
    display: none;
    z-index: 2;
  
  }
  
  .navbar .dd_menu .dd_left{
    background: rgba(0,0,0, 0.4);
    z-index: 2;
    /* background: #5F7161; */
    padding: 15px 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  
  }
  
  .navbar .dd_menu .dd_left li{
    color:#fff;
  }
  
  .navbar .dd_menu .dd_right{
    padding: 15px 5px;
    background:white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .navbar .dd_menu li{
    margin-bottom: 10px;
    /* color: #868686; */
    color: black;
  
  }
  
  .navbar .dd_menu::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 30px;
    border: 10px solid;
    border-color: transparent transparent #5F7161 transparent;
  } 
  
  .navbar .nav_right ul li.li_main.active .dd_menu{
    display: flex;
    z-index: 3;
  }
  /* keep off */





  .form-group {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-right: 20%;
    margin-left: 20%;
  }
  
  .inside{
    flex: 1 1 auto;
    font-weight: 400;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    /* font-size: 1.25rem; */
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    /* border-radius: .3rem 0 0 .3rem; */
    outline: 0;
    width: 75%;
  }





.ey{
  background-color: #CEE5D0;
}
.bred{
  background-color: red;
}
.bgreen{
  background-color: green;
}

  .rat{
    background-color: #74959A;
  }
  .bow{
    /* background-color: #B1D0E0; */
    background-color: #D8E3E7;
  }
#view{
    display: none;
}
.jl{
  padding: 0% 10px;
}
.init{
    text-decoration:none;
    font-weight: 500;
    /* color: #9EB23B; */
    color: #19282F;
    font-family: 'Merienda', cursive;
  
  }
  .rew{
    font-size: 5vw;
  }
  .mew{
    font-size: 11vw;
    margin-bottom: 10%;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1%;
  }
  .icon-home{
    width: 5%;
  }
  .secname {
    color: green;}
  
  .copyright{
    font-size: 70%;
  }
  .sad{
    width: 25px; 
    /* margin-top: 7%; */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-bottom: 6px; */
  
    /* background-color:#000; */
  }
  .facu{
    /* background-color: #fff; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* margin-bottom: 10%; */
    width:100%; 
    position: fixed;
    margin-top: 8%;
   
  }
  .social{
    margin-top: 3%;
    margin-right: 3%;
    list-style: none;
  }
  .ve{
    display: inline-block;
    padding: 2px 25px;
  }
  .vain{
    background-color: #112B3C;
    color: #fff;
  }
  #rr{
font-size: 2vw;
  }
.vet{
  background-color: #4D4C7D;
}
.pap{
  width: 10%;
  /* margin-left: 5%; */
  margin-top: 2%;
  margin-bottom: 2%;
}
  .rap{
    width: 8%;
    /* margin-left: 2%; */
  }
  .crap{
    width: 30%;
    /* margin-top: 2%; */
  }
  /* .pap{

  } */
  .trap{
    width: 40%;
    margin-top: 10%;
  }
  /* .num{
    margin-left: -30%;
  } */
  
  .scope {
    padding-left: 25%;
    background: url("eye.png") no-repeat left;
    background-size: 20px;
  }
/* kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
.welcoming{
  display: none;
}
.fog{
  visibility: hidden;
}
/* kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
  .edges{
    /* border-width: thin; */
    background-color: #EEEEEE;
    /* margin-bottom: 5%; */
    border-radius: 50px;
      border: 2px;
      padding: 1.5rem 10rem;} 
.conversion{
  /* background-color: #6C7B95; */

    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* background-color: #5F7161; */
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Merienda', cursive;
    color: #EEEEEE;
    border-radius: 50px;
    /* width: 100%; */
  /* margin-left: 10%; */
margin-right: 10%;
/* padding-left: 30%; */
/* padding-right: 30%; */
padding-top: 8%;
padding-bottom: 8%;
}
.rank{
  margin-top: 5%;
  margin-left: 5%;
}
.convers{
  text-align: center;
    background: rgba(0, 0, 0, 0.5);
    /* background-color: #5F7161; */
  /* font-family: 'Varela Round', sans-serif; */
  /* font-family: 'Merienda', cursive; */
  font-family: 'Varela Round', sans-serif;
    color: #EEEEEE;
    border-radius: 50px;
    /* width: 100%; */
  margin-left: 15%;
margin-right: 15%;
padding-left: 7%;
padding-right: 7%;
padding-top: 8%;
padding-bottom: 8%;
}
.vib{
  width: 75%;
}
.kot{
  padding-top: 10%;
}
  .ma{
    text-align: center;
    /* background-color: #9CB4CC; */
    /* border: 1px solid black; */
    margin-left: 20%;
    font-weight: 600;
    margin-right: 20%;
    /* padding-top: 2%; */
    /* padding-bottom: 1%; */
    border-radius: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vw;
  }



  .mj{
    text-align: center;
    background-color: #9CB4CC;
    margin-left: 20%;
    font-weight: 600;
    margin-right: 20%;
    /* padding-top: 2%; */
    /* padding-bottom: 1%; */
    border-radius: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
  }
  .bp{
    text-align: center;
    /* background-color: #9CB4CC; */
    /* margin-left: 20%; */
    font-weight: 600;
    /* margin-right: 20%; */
    margin-top: 2%;
    /* padding-bottom: 1%; */
    /* border-radius: 20px; */
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
  }

  .de{
    display: inline-block;
    padding: 1% 35px;
    border-radius: 20px;
 
  }

  .we{
    display: inline-block;
    padding: 3% 40px;
    border-radius: 20px;
 
  }
  .re{
    display: inline-block;
    /* padding: 3% 40px;
    border-radius: 20px; */
 
  }
  .sap{
    display: inline-block;
    padding-top: 10%;
    /* padding: 0% 20px; */
    font-size: 2vw;
  
  }
  .lap{
    display: inline-block;
    padding-top: 10%;
    /* padding: 0% 20px; */
    font-size: 2vw;
  
  }

.lw{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #fff;
  /* border-radius: 20px; */
}
.bw{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #fff;
  /* border-radius: 20px; */
}
.rw{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  /* border-radius: 20px; */
}

.wer{
  margin-right: auto;
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Knewave', cursive; */
  text-transform: uppercase;
   font-size: 3vw;
   color: #fff;
   text-transform: uppercase;
   padding-left: 2%;
   font-weight: 700;
   display: block;
 }  


.docking {
    list-style: none;
  } 
  .tic{
    font-weight: 700;
    color: #5F7161;
    text-decoration: none;
  }
  /* .sr{
    border-left: 5px solid #7D9D9C;
    padding-left: 5px;
    height: 14px;
  } */
.tic:hover{
  color: #19282F;
  border-bottom: 3px solid #7D9D9C;}

  .tap{
    background-color: #5FD068;
  }

.deactivate{
  background-color: #9BA3EB;
}  
.decoration {text-decoration:none;
    color: #5FD068;}
#rr{
   border-radius: 50px;
    /* border: 2px; */
    /* font-size: 50px; */
    padding: 1rem 2rem;
}
#ff {border-radius: 50px;
    /* border: 2px; */
    /* font-size: 50px; */
    padding: 0.5rem 1rem;
}
.pre {
    display: inline-block;
    padding: 0px 30px;
  }
  .line{
    text-decoration: none;
  }
.link-line {text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: white;}
.link-line:hover{
color: white;
}
footer {
    /* position:fixed; */
    /* bottom:0; */
    width:100%;
    color: white;
    padding-top: 2%;
    margin-top: 10%;
    padding-bottom: 2%;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* height:600px;   Height of the footer */
    /* background: #92B4EC; */
    background-color: #5F7161;
  /* background: #92B4EC; */
  }
  .gol{width: 9%;}
  .wp{
    text-align: center;
    /* background-color: #9CB4CC; */
    /* margin-left: 20%; */
    font-weight: 600;
    /* margin-right: 20%; */
    margin-top: 2%;
    /* padding-bottom: 1%; */
    /* border-radius: 20px; */
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
  }
.soft{
  background: linear-gradient(90deg, #FFF 50%, #3F4E4F 50%);
}
.hard{
  background: linear-gradient(90deg, #5584AC 50%, #112B3C 50%);
}
  .heading{
    margin-right: auto;
   /* font-family: 'Monoton', cursive; */
   /* font-family: 'Knewave', cursive; */
   text-transform: uppercase;
    font-size: 5vw;
    /* color: black; */
    text-transform: uppercase;
    font-weight: 700;
    display: block;
  }  
.coming{
    background-color: #F7F5F2;
  }
.going{
    /* background-color: #377D71; */
    background-color: #3F4E4F;
  }  
  .down-below{
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }  
  #rr{
    padding-top: 2%;
    border-radius: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  }
  .see{
    width: 55%; 
    margin-left: auto;
     margin-right: auto; 
    display: block; 
    margin-top: 4%;
  }
  .kee{
    width: 100%; 
    margin-left: auto;
     margin-right: auto; 
    display: block; 
    margin-bottom: 0;
  }
.das{
 /* background-color: #F0EBE3; */
 background-color: #F6FBF4;
}
.ras{
  background-color: #8E8B82;
}
.bas{
  background-color: #FFF;
 }
  .hij{
    display: flex;
    }
    .hiz{
      display: block;
      }
    .hid{
      display: none;
    }
    
    .vic{
      margin-left: 500%;
      /* margin-right: 20%; */

    }
    .cur{
      margin-left: 200%;
      /* margin-right: 20%; */

    }
    .tur{
      margin-left: 600%;
      /* margin-right: 20%; */

    }
    .green{
      color: green;
    }
    .red{
      color: red;
    }
    .zx{
      font-size: 3vw;
    }
    .bbb{
      background-color: #DFDFDF;
    }
    .ppp{
      background-color: #04293A;
    }
    .rapper{
      /* max-height: 200px; */
      /* border: 0.5px solid #ddd; */
      /* background-color: #DFDFDF; */
      display: flex;
      overflow-x: auto;
      font-family: 'Varela Round', sans-serif;
      margin-left: 5%;
      margin-right:5%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      /* margin-bottom: 10%; */
    }
    .drapper{
      /* max-height: 200px; */
      /* border: 0.5px solid #ddd; */
      display: flex;
      overflow-x: auto;
      font-family: 'Varela Round', sans-serif;
      margin-left: 5%;
      margin-right:5%;

      /* margin-bottom: 10%; */
    }
    .apper{
      /* max-height: 200px; */
      /* border: 0.5px solid #ddd; */
      display: flex;
      overflow-x: auto;
      font-family: 'Varela Round', sans-serif;
      margin-left: 5%;
      margin-right:5%;

      /* margin-bottom: 10%; */
    }
    .drapper::-webkit-scrollbar{
     width: 0;
    }
    /* .farm{
      border: 1px solid #ddd;
    } */
    .sec{
      min-width: 15%;
      /* height: 110px; */
      /* line-height: 110px; */
      text-align: center;
      /* background-color: #ddd; */
      margin-right: 2%;
      /* border-radius: 50px; */
      margin-bottom: 2%;
    }
  .phone{
      padding-top: 2%;
      padding-right: 20%;
      min-width: 10%;
      /* height: 110px; */
      /* line-height: 110px; */
      text-align: center;
      /* background-color: #ddd; */
      margin-right: 2%;
      /* border-radius: 50px; */
      margin-bottom: 2%;
    }

    .drapper .item{
      min-width: 10%;
      /* height: 110px; */
      /* line-height: 110px; */
      text-align: center;
      /* background-color: #ddd; */
      margin-right: 2%;
      /* border-radius: 50px; */
      margin-bottom: 2%;
    }
    

  @media only screen and (max-width:1151px) {
    /* #view{visibility: visible;} */
    header {display: none;}
  #view{
    display: block;
    /* position: fixed;*/
  }
  .rank{
    margin-top: 10%;
  }
  .kee{
    padding-top: 10%;
  }
  .hoj{
    display: none;
  }
  .welcoming{
    display: block;
  }
  .kot{
padding-top: 20%;
  }
}  
@media only screen and (max-width:992px){
  .woman{
    display: none;
  }
  .de{
    padding: 2% 25px;
  }
  .ma{
    font-size: 2.5vw;
  }
  
  .mj{
    font-size: 3vw;
  }
  
  }
  @media only screen and (max-width:950px){
    .convers{
      padding-left: 3%;
      padding-right: 3%;
}
  }
@media only screen and (max-width:846px) {
    /* #view{visibility: visible;} */
    /* header {display: none;}
  #view{
    display: block;

  } */
  .social{
    margin-top: 5%;
    margin-right: 8%;
    /* list-style: none; */
  }
  .see{
    width: 70%; 
    margin-top: 10%;
  }
.down-below{
  margin-top: 20%;
  margin-bottom: 15%;
}
.rew{
  font-size: 7vw;
}
#rr{
padding-left: 40%;
padding-right: 40%;
padding-top: 5%;
padding-bottom: 5%;
font-size: 4vw;
}
.please-enter {
font-size: 3vw;}
.greeting{
font-size: 6vw;
}
.toppin{
display: block;
/* margin-top: 10%; */
/* position: absolute; */
/* top: 0px; */
/* right: 0px; */
/* height: 5%; */
/* width: 100%; */
width: 100%;
/* border-radius: 50px; */
height: 30vh;
object-fit: cover;
}
.we{
  padding: 3% 31px;
}
.mj{
  font-size: 3vw;
}
}
.df{
  background-color: #5F7464;
}



@media only screen and (max-width:858px){
  .we{
    padding: 3% 35px;
  }
  .wp{
    font-size: 4vw;
  }
  /* .mj{
    padding-top: 3%;
  } */
  }
  @media only screen and (max-width:800px){
  .gol{width: 12%;}
}
@media only screen and (max-width:767px){
    .we{
      padding: 3% 28px;
    }
    .crap{
      width: 35%;
    }
    .form-group {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  @media only screen and (max-width:695px){
    .we{
      padding: 3% 28px;
    }    
    .sec{
      min-width: 20%;
      margin-right: 5%;
    }
    .pap{
      width: 15%;
    }
  }

  @media only screen and (min-height:650px){
  .ret{
    position: fixed;
    bottom: 0;}
    .ki{
      position: fixed;
      bottom: 0;}

      .bet{
        position: fixed;
        bottom: 0;}
      }
      @media only screen and (max-width:650px){
        .mj{
          margin-left: 10%;
          margin-right: 10%;
        }
        .crap{
          width: 40%;
        }
        .rank{
          margin-top: 15%;
        }
        .convers{
          margin-left: 4%;
          margin-right: 5%;
          padding-left: 2%;
          padding-right: 2%;
        }
        .cap{
          font-size: 3vw;
        }
        .see{
          width: 90%; 
          margin-top: 15%;
        }
        .mew{
margin-bottom: 30%;
        }
      }
@media only screen and (max-width:625px){
        .facu{
          margin-top: 10%;
        }
        .mj{
          font-size: 4vw;
        }
        .wer{
          padding-top: 2%;
        }
        .sap{
          font-size: 3vw;
          padding-top: 20%;
        }
        .kot{
        padding-top: 35%;
        }
        }
        @media only screen and (max-width:550px){
          .kot{
          padding-top: 35%;
          }
          .gol{width: 15%;}
          .kee{
            padding-top: 15%;
          }
          }   

@media only screen and (max-width:500px){
/* .welcoming {
font-size: 550%;} */
.facu{
  margin-top: 10%;
}
.we{
  padding: 3% 23px;
}
.rank{
  margin-top: 20%;
}
/* .cap{
  font-size: 4vw;
} */
/* .mj{
  padding-top: 4%;
} */
.crap{
  width: 50%;
}
.de{
  padding: 4% 25px;
}
.ma{
  font-size: 2.5vw;
}
.wp{
font-size: 5vw;
}
.see{
  width: 100%; 
  margin-top: 20%;
}
.zx{
  font-size: 4vw;
}
.sec{
  min-width: 25%;
  margin-right: 5%;
}
.pap{
  width: 20%;
}
}



/* @media only screen and (max-width:900px){
#dapping{
  /* background-size: 120%; */




@media only screen and (max-width:450px){
.navbar .nav_right ul li .omg{
  width: 20px;
}
.we{
  padding: 3% 20px;
}

.facu{
  margin-top: 13%;
}
.mj{
  font-size: 5vw;
  margin-left: 4%;
  margin-right: 4%;
}
.gol{width: 20%;}
.see{
  margin-top: 30%;
}
.down-below{
margin-top: 20%;
margin-bottom: 40%;
}
}

@media only screen and (max-width:400px){
/* .welcoming {
font-size: 450%;
padding-top: 15%;} */
.sec{
  min-width: 28%;
  margin-right: 5%;
}
.kee{
  padding-top: 30%;
}
}
/* hhhhhhhiiiiieeeeeeggggghhhttttt */
@media only screen and (min-height:500px)and (max-width:500px){
.tet{
  position:fixed;
  bottom: 0;
}
}
@media only screen and (min-height:2000px ) {

footer{
 position: fixed;
 bottom: 0%;
}
}
@media only screen and (min-height:990px )and (max-width:1250px){

  .tet{
   position: fixed;
   bottom: 0%;
  }
  }
  @media only screen and (min-height:830px )and (max-width:763px){

    .tet{
     position: fixed;
     bottom: 0%;
    }
    }
@media only screen and (max-width:375px){
.de{
  padding: 5% 20px;
}
.ma{
  font-size: 3vw;
}
.crap{
  width: 50%;
}

}
@media only screen and (max-width:367px){
.navbar .nav_right ul li .omg{
  width: 15px;
}
.social{
  margin-right: 2%;
}
.edges{
  width: 78%;
}
.forming{
  font-size: 5vw;
}
.we{
  padding: 3% 18px;
}

}
/* @media only screen and (max-width:450px){
#mydancing{
  background-size: 150%;
}
#dapping{
  background-size: 150%;
    }

} */
  
@media only screen and (max-width:350px){
  .convers{
    padding-left: 1%;
    padding-right: 1%;
}
}
@media only screen and (max-width:325px){
  .we{
    padding: 3% 18px;
  }
  .de{
    padding: 5% 16px;
  }
  .ma{
    font-size: 3.5vw;
  }
}
@media only screen and (max-width:318px){
.forming{
  font-size: 3.5vw;
}
.navbar .nav_right ul li .omg{
  width: 10px;
}
.sad{
  width: 20px;
}
}
@media only screen and (max-width:300px){
  .we{
    padding: 3% 16px;
  }
  .de{
    padding: 5% 16px;
  }
  .ma{
    font-size: 3vw;
  }
}
@media only screen and (max-width:285px){
 footer{
  width: 108%;
 }
 .social{
  margin-right: 6%;
 }
 .ve{
  padding: 0px 18px;

 }
  } 

  @media only screen and (max-width:255px){
    .ve{
     padding: 0px 12px;
   
    }
    footer {
      padding-top: 5%;
    }
  }