<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <!-- CSS only -->
    <link rel="stylesheet" href="static/style.css">
    <!-- <link rel="icon" href="static/icon1.webp"> -->
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

<!-- login -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<title>Fregzy</title>
</head>
<body class="sz">
    <header class="header-white sep" style="display: flex;">
        <img class="icon-home icon1" src="static/icon.webp" alt="">
        <img class="icon2 hid" style="width: 4.4%; margin-left:1.7%; margin-top: 1.7%; margin-bottom: 1.7%; margin-right: 0.4%;" src="static/footer.webp" alt="">
        <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700;" >Freg<span class="header-other other-red">zy</span></h1>
        <nav>
          <ul class="docking">
            
            <li class="pra ho light"><i style="" class="authicon fa fa-lightbulb-o"></i></li>
            <li class="pra ho dark hid"><i style=" color: #fff;" class="authicon fa fa-moon-o"></i></li>
          </ul>
        </nav>
    </header>
    <h1 style="text-align: center; margin-top: 10%; font-family: 'Varela Round', sans-serif; font-weight: 700;">Enter your</h1>
    <h1 style="text-align: center; font-family: 'Varela Round', sans-serif; font-weight: 700;">Authentication Code</h1>
    <h5 style="text-align: center; font-family: 'Varela Round', sans-serif; margin-top: 5%; padding: 0 2%;">We will text you your verification code, please check your Gmail.</h5>

    <form action="/authenticate" method="post">
        <input class="input-auth" style="display: block; margin-left: auto; margin-right: auto; display: block;" type="number" maxlength="4" required>
        <button class="btn " style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2w; font-weight: 700;" type="submit"><a class="link-line">Get</a></button>
    </form>

</body>
</html>