<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <!-- CSS only -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/icon1.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<title>Fregzy</title>
</head>
<body class="sz">
    <header class="header-white">
        <img class="icon-home" src="static/icon.png" alt="">
        <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700; color: #4F0E0E;" >Fregzy</h1>
        <nav>
          <ul class="docking">
            
            <li class="pra"><i style="font-size: 2.5vw;" class="fa fa-lightbulb-o"></i></li>
            <li class="pra"><a class="decoration tic">About</a></li>
            <li class="pra"><a class="decoration tic"  href="">Features</a></li>
            <!-- <li><a class="decoration tic"  href="">Blog</a></li> -->
            <li class="pro"><a class="decoration tic"  href="">FAQ</a></li>
            <li class="pre"><a class=" tic sr" style="color: #4F0E0E;" href="/Login">Login</a></li>
            <li class="pre"><button class="btn " style="border-radius: 50px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none;" type="submit"><a class="link-line" href="/Signup">Signup</a></button></li>
            
          </ul>
        </nav>
      </header>
      <div class="second-head">
        <div class="wrapper">
          <div class="navbar">
            <div class="logo">
              <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700; text-align: center; color: #4F0E0E;" >Fregzy</h1>
            </div>
              <div class="nav_right">
             <ul>
               <!-- <li class="nr_li">
                 <i>hjhjhh</i>
               </li> -->
               <li class="nr_li li_main">
                 <img  class="omg" src="static/menu.png" alt="">
                 <div class="dd_menu">
                   <div class="dd_left">
                     <ul>
                      <li><a href="/signup"><img class="icon" src="static/register.png" alt=""></a></li>
                      <li><a href="/login"><img class="icon" src="static/key.png" alt=""></a></li>
                     </ul>
         
                   </div>
                   <div class="dd_right">
                     <ul>
                       <li><a class="init" href="/Signup"> Signup</a></li>
                       <li><a class="init" href="/Login"> Login</a></li>
                     </ul>
         
                   </div>
                 </div>
               </li>
             </ul>
            </div>
          </div>
           </div>
          </div>
      </div>
     
      <%= day%>
</body>
</html>