<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <!-- CSS only -->
    <link rel="stylesheet" href="static/style.css">
    <!-- <link rel="icon" href="static/icon1.webp"> -->
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<title>Fregzy</title>
</head>
<body class="sz">
    <header class="header-white">
        <img class="icon-home" src="static/icon.webp" alt="">
        <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700; color: #000;" >Freg<span style="color: #4F0E0E;">zy</span></h1>
        <nav>
          <ul class="docking">
            
            <li class="pra ho"><i style="font-size: 2.5vw;" class="fa fa-lightbulb-o"></i></li>
            <li class="pra"><a class="decoration tic ho">About</a></li>
            <li class="pra"><a class="decoration tic ho "  href="">Features</a></li>
            <!-- <li><a class="decoration tic"  href="">Blog</a></li> -->
            <li class="pro"><a class="decoration tic ho "  href="">FAQ</a></li>
            <li class="pre"><a class=" tic sr" style="color: #4F0E0E;" href="/Login">Login</a></li>
            <li class="pre"><button class="btn " style="border-radius: 50px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none;" type="submit"><a class="link-line" href="/Signup">Signup</a></button></li>
            
          </ul>
        </nav>
      </header>
      <div class="second-head">
        <div class="wrapper">
          <div class="navbar">
            <div class="logo">
              <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700; text-align: center; color: #000E;" >Freg<span style="color: #4F0E0E;">zy</span></h1>
            </div>
              <div class="nav_right">
             <ul>
               <li class="nr_li">
            <li class="second-bulb"><i class="fa fa-lightbulb-o"></i></li>
               </li>
               <li class="nr_li li_main">
                 <!-- <img style="padding: 3px;"  class="omg og" src="static/menu.png" alt=""> -->
                 <!-- <li class="second-bulb"><i class="oy fa fa-bars"></i></li> -->
                 <i style=" border-radius: 10%;" class="oy first-top second-bulb fa fa-bars"></i>

               <!-- </li> -->
                 <div class="dd_menu">
                   <div class="dd_left">
                     <ul>
                      <li><a href="/signup"><i style="color: #fff;" class=" fa fa-sign-in"></i></a></li><hr style="color: #4F0E0E; border: 1px solid;">
                      <li><a href="/login"><i style="color: #fff;" class=" fa fa-user"></i></a></li>
                     </ul>
         
                   </div>
                   <div class="dd_right">
                     <ul>
                       <li><a class="init link-line" style="color: #4F0E0E; font-weight: 700;" href="/Signup"> Signup</a></li><hr style="color: #4F0E0E; border: 1px solid;">
                       <li><a class="init link-line" style="color: #4F0E0E; font-weight: 700;" href="/Login"> Login</a></li>
                     </ul>
         
                   </div>
                 </div>
               </li>
             </ul>
            </div>
          </div>
           </div>
           <div class=" header-bw vain ki" style="margin-bottom: 0%; background-color: #EEEEEE; font-family: 'Varela Round', sans-serif;">
            <i style="margin-right: 1%; margin-top: -1%;" class=" erase fa fa-times"></i>
            <h1 class="header-wer">Fregzy works best on our app!</h1>
            <ul class="docking">
          <li class="">
          <!-- <h1 style="font-weight:500;" class="clear"> Dismiss</h1> -->
        <button class="btn " style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2w; font-weight: 700;" type="submit"><a class="link-line" href="/">Get</a></button>
          </li>
          </ul>
          </div>
          </div>

      <div class="setting">
        <h1 class="set-text">Experience quality <span style="color: #4F0E0E;">educational</span> services</h1>
        <!-- <ul class="docking">
        <li class="pre"><button class="btn " style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none;" type="submit"><a class="link-line" href="/Signup">Get Started</a></button></li>
        <li class="pre"><button class="btn" style="border-radius: 10px; padding: 0.5rem 1rem; border-color: #4F0E0E; color: #4F0E0E; text-decoration: none;" type="submit"><a class="link-line" style="color: #4F0E0E;" href="/Signup">Learn More</a></button></li>
      </ul> -->
        <!-- at the touch of a button -->
        <ul class="docking">
          <li style="display: inline-block;">
            <img style="width: 75%; margin-left: 31%; margin-bottom: 10%;" src="static/student.webp" alt="">
          </li>
        </ul>
      </div>
      <p style="margin-top: -14%; font-size: 1.5vw;margin-bottom: 2%;  margin-left: 11%; font-weight: 600; font-family: 'Varela Round', sans-serif;"><span style="color: #4F0E0E;">Fregzy</span> helps you to enhance your educational skills <br> and assessment flexibility.</p>
      <ul class="docking firm" style="margin-top: 0%; margin-bottom: 10%;">
        <li class="pri" style="padding-right: 3%;"><button class="btn " style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2vw; font-weight: 700;" type="submit"><a class="link-line" href="/Signup">Get Started</a></button></li>
        <li class="pri"><button class="btn" style="border-radius: 10px; padding: 0.5rem 1rem; border-color: #4F0E0E; color: #4F0E0E; text-decoration: none; font-size: 2vw; font-weight: 700;" type="submit"><a class="link-line" style="color: #4F0E0E;" href="/">Learn More</a></button></li>
      </ul>


      <div  style="background-color:#EEEEEE;" style=" border-top-right-radius: 100px;">
      <img class="rotate" style="width: 10%; margin-left: 65%; margin-bottom: -14%;" src="static/award.png" alt="">
      <div class="second-setting">
        <img style="width: 35%;" src="static/boy-book.png" alt="">
        <ul class="docking">
          <li style="display: inline-block;">
            <h1 class="set-text" style="color: #414141; padding-left: 8%; font-size: 4vw;">Highly rated for <span style="color: #4F0E0E;">social integration</span>, using <span style="color: #4F0E0E;">Algorithms </span></h1>
          </li>
        </ul>
      </div>
      <img style="width: 10%; margin-left: 65%; margin-top: -15.5%; display: block; padding-bottom: 7%;" src="static/udemy.png" alt="">
      </div>

      <div  style="margin-bottom: -6.5%;  margin-top: 10%;">
        <img style="width: 6.5%;" class="cancel-icon" src="static/cancel.png" alt="">
        <img style="width: 8%;" class="check-icon1" src="static/check.png" alt="">
        <img style="width: 8%;" class="check-icon2" src="static/check.png" alt="">
        <img style="width: 8%;" class="check-icon3" src="static/check.png" alt="">

      <p style="font-size: 3vw;margin-bottom: 2%;  margin-left: 11%; font-weight: 600; font-family: 'Varela Round', sans-serif;"><span style="color: #4F0E0E; font-family: 'Cookie', cursive; font-weight: 700; font-size: 4.5vw;">Fregzy</span> helps in:</p>
        <div class="second-setting">
          <h1 class="set-text" style="color: #414141; padding-left: 8%; font-size: 4vw; padding-right: 5%;"><span style="color: #395B64;">Transmission of Culture</span> <br><br><span style="color: #395B64;">social integration</span><br><br><span style="color: #a71b11;">Cost fee</span><br><br><span style="color: #395B64;">Rational Thinking</span></h1>
          <ul class="docking">
            <li style="display: inline-block;">
          <img style="width: 100%; margin-top: -59%;" src="static/girl-book.png" alt="">
            </li>
          </ul>
        </div>
        <!-- <img style="width: 10%; margin-left: 65%; margin-top: -15.5%; display: block; padding-bottom: 7%;" src="static/udemy.png" alt=""> -->
        </div>

      <div class="hid bw vain ki" style="margin-bottom: 0%; background-color: #EEEEEE;">
        <img class="rap" src="static/connection.png" alt="">
        <h1 class="wer">No Network</h1>
        <ul class="docking">
      <li class="lap">
      <!-- <h1 style="font-weight:500;" class="clear"> Dismiss</h1> -->
      <button class="btn " style="border-radius: 10px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2w; font-weight: 700;" type="submit"><a class="link-line" href="">Dismiss</a></button>
      </li>
      </ul>
      </div>
      <footer>
      <!-- <div class="dover">
        <img class="icon-home" style="margin-right: 1%;" src="static/footer.png" alt="">
     <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700; color: #fff;" >Freg<span style="color: #694E4E;">zy</span></h1>
     <nav>
       <ul class="docking">
         
         <li class="pride"><a class="pic">Company <br> <br> Vision <br> <br> Mission <br> <br> Focus</a></li>
         <li class="pride"><a class="pic">Blogs <br> <br> FAQ <br> <br> Terms of use <br> <br> Privacy Policy</a></li>
         <li class="pre" style="padding-bottom: -2%;"> 
           <h1 style="font-size: 1vw; color: #fff;">Search for more Activities and Daily updates.</h1>
           <form action="/exchange" method="post" class="">
           <div class="form-group">
             <input class="inside" style="border-radius: 0%; text-transform: capitalize;" name="current" type="search" placeholder="Your Email" required>
             <button type="submit" class="btn btn-success"><i style="color: #fff" class="fa fa-search"></i></button>
           </div>
         </form>
         <ul class="social">
           <li class="ve">
               <i class=" fa fa-instagram" style="font-size:20px;color:white"></i>
           </li>
           <li class="ve">
               <i class=" fa fa-twitter-square" style="font-size:20px;color:white"></i>
           </li>
           <li class="ve">
               <i class=" fa fa-linkedin-square" style="font-size:20px;color:white"></i></a>
           </li>
           <li class="ve">
               <i class=" fa fa-github" style="font-size:20px;color:white"></i>
           </li>
       </ul>
       </li>
         
       </ul>
     </nav>
   </div>
   <h5 style="color: #fff; margin-right: 80%; margin-top: -1%; font-family: 'Varela Round', sans-serif; font-size: 1.1vw;" class="copyright">Copyright © <%= day%> <span style="font-weight: 700;">Fregzy</span> </h5> -->
       
   <div class="dover">
    <img class="icon-home" style="margin-right: 1%;" src="static/footer.webp" alt="">
 <h1 class="footer-heading" style="font-family: 'Cookie', cursive; font-weight: 700; color: #fff;" >Freg<span style="color: #694E4E;">zy</span></h1>
 <nav>
   <ul class="docking">
     
     <li class="pride"><a class="pic">Company <br class="bid"> <br> Vision <br class="bid"> <br> Mission <br class="bid"> <br> Focus</a></li>
     <li class="pride"><a class="pic">Blogs <br class="bid"> <br> FAQ <br class="bid"> <br> Terms of use <br class="bid"> <br> Privacy Policy</a></li>
     <li class="pru" style="padding-bottom: -2%;"> 
       <h1 class="suggest" style="color: #fff;">Subscribe to our Newsletter for Daily updates.</h1>
       <form action="/home" method="post" class="">
       <div class="form-group">
         <input class="inside" style="border-radius: 0%; text-transform: capitalize; border-right: none;" name="current" type="email" placeholder="Your Email" required>
         <button type="submit" class="btn btn-success" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none;"><i style="color: #fff;" class="fa fa-hand-pointer-o"></i></button>
       </div>
     </form>
     <ul class="social">
       <li class="ve">
           <i class="wr fa fa-instagram" style="color:white;"></i>
       </li>
       <li class="ve">
           <i class="wr fa fa-twitter-square" style="color:white;"></i>
       </li>
       <li class="ve">
           <i class="wr fa fa-linkedin-square" style="color:white;"></i></a>
       </li>
       <li class="ve">
           <i class="wr fa fa-github" style="color:white;"></i>
       </li>
   </ul>
   </li>
     <!-- <li class="pre"><button class="btn " style="border-radius: 50px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none;" type="submit"><a class="link-line" href="/Signup">Signup</a></button></li> -->
     
   </ul>
 </nav>
</div>
<h5 style="color: #fff; margin-top: -1%; font-family: 'Varela Round', sans-serif;" class="copyright">Copyright © <%= day%> <span style="font-weight: 700;">Fregzy</span> </h5>
  </footer>
       <script>
        var li_main=document.querySelector(".li_main");
    
    li_main.addEventListener("click", function(){
      this.classList.toggle("active");
      if(document.querySelector(".oy").className.includes("seen")){
        document.querySelector(".oy").classList.remove("seen")
        document.querySelector(".oy").classList.add("first-top")
        document.querySelector(".oy").classList.remove("second-top")
      }
      else{
      document.querySelector(".oy").classList.add("seen")
      document.querySelector(".oy").classList.add("second-top")
      document.querySelector(".oy").classList.remove("first-top")
      }
    })

//     var cod= document.querySelector(".omg");
//     cod.addEventListener("click", function(){

// // cod.style.backgroundColor="#A23131";
// if(cod.className.includes("og")){
//   cod.classList.remove("og")
//   cod.style.backgroundColor="#A23131";
// }
// else{
//   cod.classList.add("og")
//   cod.style.backgroundColor="#FDFFF0";
// }
//     })


var hi= document.querySelector(".lap")
            hi.addEventListener("click", ()=>{
              document.querySelector(".bw").classList.remove("hij")
              document.querySelector(".bw").classList.add("hid")
            })

    function hasNetwork(onLine){
  const vak = document.querySelector(".bw");
  if (onLine){
    vak.classList.remove("hij");
    vak.classList.add("hid");
  }
  else {
    vak.classList.add("hij");
    vak.classList.remove("hid");
  }
}
window.addEventListener("load", () => {
  hasNetwork(navigator.onLine);


window.addEventListener("online", () => {
  hasNetwork(true);
});

window.addEventListener("offline", () => {
  hasNetwork(false);

});

});
var ho= document.querySelector(".erase")
            ho.addEventListener("click", ()=>{
              document.querySelector(".header-bw").classList.add("hid")
            })


       </script>
</body>
</html>