<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <!-- CSS only -->
    <link rel="stylesheet" href="static/style.css">
    <!-- <link rel="icon" href="static/icon1.webp"> -->
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<!-- test -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

<!-- login -->
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<title>Fregzy</title>
</head>
<body class="sz sap">
    <header class="header-white sep" style="display: flex;">
        <img class="icon-auth icon1" src="static/icon.webp" alt="">
        <img class="icon-auth2 icon2 hid" style="" src="static/footer.webp" alt="">
        <h1 class="heading" style="font-family: 'Cookie', cursive; font-weight: 700;" >Freg<span class="header-other other-red">zy</span></h1>
        <nav>
          <ul class="docking">
            
            <li class="pra ho light"><i style="" class="authicon fa fa-lightbulb-o"></i></li>
            <li class="pra ho dark hid"><i style=" color: #fff;" class="authicon fa fa-moon-o"></i></li>
          </ul>
        </nav>
    </header>
    <img class="auth-icon-dis" style="display: block; margin-left:auto; margin-right:auto; margin-top: 10%;" src="static/sug.png" alt="">
    <h1 class="auth-head auto-big" style="text-align: center; margin-top: 2%;  font-family: 'Merienda One', cursive; font-weight: 700;">Suggestion</h1>
    <p class="auth-head auto-small" style="margin-left: 7%; margin-top: 7%; font-size: 12vw;  font-family: 'Merienda One', cursive; font-weight: 700;">Suggestion</p>
    <h5 class="auth-sec auto-big sap" style="text-align: center; margin-top: 5%; padding: 0 2%; font-weight: 700;"> We appreciate you taking the time to share your thoughts, and opinion. What's your suggestion?.</h5>
    <p class="auth-sec auto-small sap" style="margin-left: 5%;; margin-top: 5%; padding: 0 2%; font-weight: 700;"> We appreciate you taking the time to share your thoughts, and opinion. What's your suggestion?</p>
    <h5 class="invalide-code" style="color: red; text-align:center; font-weight: 700; margin-top: 2%; margin-bottom: 2%;"></h5>

    <form action="/suggestion" method="post">
        <!-- <input class="input-ver" style="display: block; margin-left: auto; margin-right: auto; border-radius: 20px; text-align: center;  font-family: 'Varela Round', sans-serif; font-weight: 700; color: #4F0E0E; border-color: #4F0E0E; background-color: #fff;" type="email" placeholder="angela@example.com" name="auth_gmail"  required> -->
        <h1  class="user-sign first-pass sap" style=" font-weight: 700; margin-left:19%; margin-bottom: 2%; color: #1d2a35;">Name</h1>
<div class="profile-group" style="margin-left: 15%; margin-right: 15%; margin-bottom: 4%;">
    <!-- <label for="">Full Nmae</label> -->
    <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
    <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
    <button  type="button" class="btn pad1" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #fbf8f5; padding-right:2%;"><i style="color: #4F0E0E;" class="fa fa-user display-ic"></i></button>
    <button  type="button" class="btn pad2 hid" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #1d2a35; padding-right:2%;"><i style="color: #fd859d;" class="fa fa-lock display-ic"></i></button>
    <input class="profile-inside user-details pass-login pass-input" style="border-radius: 0%;  border-right: none; border-left: none; border-top: none;  background-color:#fbf8f5; border-color: #d4b194; font-weight: 700; padding-right: 2%; text-transform: capitalize;" name="name" value="" placeholder="Name"  type="text" required>
    <!-- <button type="button" class="btn bot" style=" border-radius: 0%; border-left: none;border-right: none;border-top: none; background-color: #fbf8f5; border-color: #d4b194;"></button> -->

    </div>
   

    <h1  class="user-sign sap" style="font-weight: 700; margin-left:19%; margin-bottom: 2%; margin-top: 8%; color: #1d2a35;">Gmail</h1>
    <div class="profile-group" style="margin-left: 15%; margin-right: 15%; margin-bottom: 4%;">
        <!-- <label for="">Full Nmae</label> -->
        <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
        <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
        <button  type="button" class="btn key1" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #fbf8f5; padding-right:2%;"><i style="color: #4F0E0E;" class="fa fa-envelope display-ic"></i></button>
        <button  type="button" class="btn key2 hid" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #1d2a35; padding-right:2%;"><i style="color: #fd859d;" class="fa fa-key display-ic"></i></button>
        <input class="profile-inside user-details pass-login1 pass-input" style="border-radius: 0%; border-right: none; border-left: none; border-top: none;  background-color:#fbf8f5; border-color: #d4b194; font-weight: 700; padding-right: 2%;" name="gmail" value="" placeholder="Gmail" type="email" required>
    <!-- <button type="button" class="btn bot" style=" border-radius: 0%; border-left: none;border-right: none;border-top: none; background-color: #fbf8f5; border-color: #d4b194;"></button> -->
    
        </div>

        <h1  class="user-sign sap" style="font-weight: 700; margin-left:19%; margin-bottom: 2%; margin-top: 8%; color: #1d2a35;">Text</h1>
        <div class="profile-group" style="margin-left: 15%; margin-right: 15%; margin-bottom: 4%;">
            <!-- <label for="">Full Nmae</label> -->
            <!-- <input class="inside" style=" border-left: none; border-right: none; border-top: none; text-transform: capitalize; background-color: #fdfeff; border-color: #4F0E0E; font-weight: 700; margin-left: 15%; font-size: 1.3vw;" name="current" type="text" size="6" placeholder="Search" value="Enameuehen Nosakhare Angelo">
            <button type="submit" class="btn " style="border-radius: 50px; background-color: #4F0E0E; margin-right: 15%;"><i style="color: #fff;" class="fa fa-pencil"></i></button> -->
            <button  type="button" class="btn fil1" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #fbf8f5; padding-right:2%;"><i style="color: #4F0E0E;" class="fa fa-file-word-o display-ic"></i></button>
            <button  type="button" class="btn fil2 hid" style="border-radius: 0%; border-right: none; border-left: none; border-bottom: none; border-top: none;  background-color: #1d2a35; padding-right:2%;"><i style="color: #fd859d;" class="fa fa-file-word-o display-ic"></i></button>
            <textarea  class="profile-inside user-details pass-input pass-login2" style="border-radius: 10px;  background-color:#fbf8f5; border-color: #d4b194; font-weight: 700; padding-right: 2%;" name="text" value="" placeholder="Opinon" id="" cols="15" rows="5" required></textarea>
        
            </div>
    <h5 class="invalide-code pack" style="color: red; text-align:center; font-weight: 700; margin-top: 2%; margin-bottom: 2%;"></h5>
        <button class="btn button-auth" style="font-family: 'Varela Round', sans-serif; background-color: #4F0E0E; color: #fff; text-decoration: none; font-weight: 700; display: block; margin-left: auto; margin-right: auto;" type="submit">Submit</button>
    </form>
<h5 class="notcode" style="text-align: center; font-family: 'Varela Round', sans-serif; visibility: hidden;">Didn't get a code? <span style="color: #4F0E0E; font-weight: 700; font-family: 'Cookie', cursive; text-decoration: underline;" >Click to resend</span></h5>
<h5 class="hid spo"></h5>
<div class="auth-height">
  <div class="hid bw vain ki body-color body-color-white" style="margin-bottom: -1%; padding-top: 0%;">
    <img class="rap" src="static/connection.png" alt="">
    <h1 style="font-size: 4vw; margin-top: 4%;" class="wer">No Network</h1>
    <ul class="docking">
  <li class="lap">
  <button class="btn " style="border-radius: 10px; padding: 0.3rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none; font-size: 2w; font-weight: 700;" type="submit"><a class="link-line">Dismiss</a></button>
  </li>
  </ul>
  </div>
  <footer class="sap">
<div class="dover">
<img class="icon-home" style="margin-right: 1%;" src="static/footer.webp" alt="">
<h1 class="footer-heading" style="font-family: 'Cookie', cursive; font-weight: 700; color: #fff;" >Freg<span style="color: #97BFB4;">zy</span></h1>
<nav>
<ul class="docking">
 
 <li class="pride"><a class="pic">Company <br class="bid"> <br> Vision<span style="visibility:hidden;">hh</span><br class="bid"> <br> Mission<span style="visibility:hidden;">h</span><br class="bid"> <br> Focus<span style="visibility:hidden;">hhii</span></a></li>
 <li class="pride"><a class="pic">Blogs<span style="visibility:hidden;">hhyuii</span> <br class="bid"> <br> FAQ<span style="visibility:hidden;">hoooiih</span> <br class="bid"> <br> <a style="text-decoration: none; color:#fff; font-weight:700;" class="pic" href="/suggestion">Suggestions</a><span style="visibility:hidden;">h</span> <br class="bid"> <br> <a style="text-decoration: none; color:#fff; font-weight:700;" class="pic" href=""> Privacy Policy</a></a></li>
 <li class="pru" style="padding-bottom: -2%;"> 
   <h1 class="suggest" style="color: #fff;">Subscribe to our Newsletter for Daily updates.</h1>
   <form action="/home" method="post" class="">
   <div class="form-group">
     <input class="inside" style="border-radius: 0%; text-transform: capitalize; border-right: none;" name="current" type="email" placeholder="Your Email" required>
     <button type="submit" class="btn btn-success" style=" border-top-left-radius: 0%; border-bottom-left-radius: 0%; border-right: none;"><i style="color: #fff;" class="fa fa-hand-pointer-o"></i></button>
   </div>
 </form>
 <ul class="social">
  <li class="ve">
    <i class="wr fa fa-instagram insta" style="padding: 15%; font-size: 18px; border-radius: 3px;"></i>
</li>
<li class="ve">
 <i class="wr fa fa-twitter-square twit" style="border-radius: 3px; padding: 15%; font-size: 18px;"></i></a>
</li>
<li class="ve">
 <i class="wr fa fa-linkedin-square linkl" style="border-radius: 3px; padding: 15%; font-size: 18px;"></i>
 <!-- <i class="wr fa fa-linkedin linkl" style="padding: 15%; font-size: 18px; border-radius: 3px;"></i></a> -->
</li>

<li class="ve">
    <i class="wr fa fa-github git"style="padding: 15%; font-size: 18px; border-radius: 3px;"></i>
</li>
</ul>
</li>
 <!-- <li class="pre"><button class="btn " style="border-radius: 50px; padding: 0.5rem 1rem; background-color: #4F0E0E; color: #fff; text-decoration: none;" type="submit"><a class="link-line" href="/Signup">Signup</a></button></li> -->
 
</ul>
</nav>
</div>
<h5 style="color: #fff; margin-top: -1%; font-family: 'Varela Round', sans-serif;" class="copyright">Copyright © 2022- <%= fan%> <span style="font-weight: 700;">Fregzy</span> </h5>
</footer>
</div>
    <script>


      document.querySelector(".light").addEventListener("click", ()=>{
  document.querySelector(".light").classList.add("hid")
  document.querySelector(".dark").classList.remove("hid")
  document.querySelector("body").classList.add("fz")
  document.querySelector("body").classList.remove("sz")
  document.querySelector("header").classList.add("header-black")
  document.querySelector("header").classList.remove("header-white")
  document.querySelector(".button-auth").style.borderColor="#fff"
  document.querySelectorAll(".user-sign")[0].style.color="#fff"
  document.querySelectorAll(".user-sign")[1].style.color="#fff"
  document.querySelectorAll(".user-sign")[2].style.color="#fff"
  document.querySelector(".icon1").classList.add("hid")
  document.querySelector(".icon2").classList.remove("hid")
  document.querySelector(".header-other").classList.add("other-blue")
  document.querySelector(".header-other").classList.remove("other-red")
  document.querySelector(".pass-login").style.backgroundColor="#1d2a35"
  document.querySelector(".pass-login1").style.backgroundColor="#1d2a35"
  document.querySelector(".pass-login2").style.backgroundColor="#1d2a35"
  document.querySelector(".pass-login").style.borderColor="#fff"
  document.querySelector(".pass-login1").style.borderColor="#fff"
  document.querySelector(".pass-login2").style.borderColor="#fff"
  document.querySelector(".pass-login").style.color="#fff"
  document.querySelector(".pass-login1").style.color="#fff"
  document.querySelector(".pass-login2").style.color="#fff"
  document.querySelector(".pad1").classList.add("hid")
  document.querySelector(".pad2").classList.remove("hid")
  document.querySelector(".key1").classList.add("hid")
  document.querySelector(".key2").classList.remove("hid")
  document.querySelector(".fil2").classList.remove("hid")
  document.querySelector(".fil1").classList.add("hid")


})
document.querySelector(".dark").addEventListener("click", ()=>{
  document.querySelector(".dark").classList.add("hid")
  document.querySelector(".light").classList.remove("hid")
  document.querySelector("body").classList.add("sz")
  document.querySelector("body").classList.remove("fz")
  document.querySelector("header").classList.remove("header-black")
  document.querySelector("header").classList.add("header-white")
  document.querySelector(".button-auth").style.borderColor="#4f0e0e"
  document.querySelector(".icon2").classList.add("hid")
  document.querySelector(".icon1").classList.remove("hid")
  document.querySelector(".header-other").classList.remove("other-blue")
  document.querySelector(".header-other").classList.add("other-red")
  document.querySelectorAll(".user-sign")[0].style.color="#1d2a35"
  document.querySelectorAll(".user-sign")[1].style.color="#1d2a35"
  document.querySelectorAll(".user-sign")[2].style.color="#1d2a35"
  document.querySelector(".pass-login").style.backgroundColor="#fbf8f5"
  document.querySelector(".pass-login1").style.backgroundColor="#fbf8f5"
  document.querySelector(".pass-login2").style.backgroundColor="#fbf8f5"
  document.querySelector(".pass-login").style.borderColor=" #d4b194"
  document.querySelector(".pass-login1").style.borderColor=" #d4b194"
  document.querySelector(".pass-login2").style.borderColor=" #d4b194"
  document.querySelector(".pad2").classList.add("hid")
  document.querySelector(".pad1").classList.remove("hid")
  document.querySelector(".key2").classList.add("hid")
  document.querySelector(".key1").classList.remove("hid")
  document.querySelector(".fil2").classList.add("hid")
  document.querySelector(".fil1").classList.remove("hid")
  document.querySelector(".pass-login1").style.color="#000"
  document.querySelector(".pass-login").style.color="#000"
  document.querySelector(".pass-login2").style.color="#000"

})


var hi= document.querySelector(".lap")
            hi.addEventListener("click", ()=>{
              document.querySelector(".bw").classList.remove("hij")
              document.querySelector(".bw").classList.add("hid")
            })

    function hasNetwork(onLine){
  const vak = document.querySelector(".bw");
  if (onLine){
    vak.classList.remove("hij");
    vak.classList.add("hid");
  }
  else {
    vak.classList.add("hij");
    vak.classList.remove("hid");
  }
}
window.addEventListener("load", () => {
  hasNetwork(navigator.onLine);


window.addEventListener("online", () => {
  hasNetwork(true);
});

window.addEventListener("offline", () => {
  hasNetwork(false);

});

});




// .lenth

    </script>
</body>
</html>